.card{
  background-color: #024c69;
  color:white;
  width: 30%;
  border-radius: 1rem;
  margin: 2rem;
  .card-title{
    .card-image{
      width: 100%;
    }
  }
  .card-title{
    h3{
      text-align: center;
      font-size:2rem;
    }
  }
  .card-body{
    p{
      font-size:1.3rem;
      font-weight: bold;
      text-align: center;
      padding: 10px;
    }
  }
  .btn{
    text-align: center;
    margin-bottom:1rem;
  }
  .btn-product{
    background-color: #232323;
    color:white;
    border:none;
    border-radius: 0.4rem;
    font-size:1.4rem;

    padding: 0.6rem;
  }

}